<ion-header-bar class="bar-positive">
	<h1 class="title">Perfil</h1>
</ion-header-bar>
<ion-view>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item">
                <h2>{{user.name}}</h2>
                <p>{{user.city}}</p>
            </div>
            <div class="item item-body">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="right" class="bar-positive">
    <button class="button" ng-click="fbLogout()">Sair</button>	
</ion-footer-bar>